extends base

block content
    main.main 
        .card-container
            //- Display tours for current page
            each tour in tours
                .card
                    .card__header
                        .card__picture
                            .card__picture-overlay &nbsp;
                            img(src=`/img/tours/${tour.imageCover}` class='card__picture-img' alt=`${tour.name}`)
                        h3.heading-tertirary
                            span= tour.name
                    .card__details
                        h4.card__sub-heading= `${tour.difficulty} ${tour.duration}-day tour`
                        p.card__text= tour.summary
                        .card__data
                            svg.card__icon
                                use(xlink:href='img/icons.svg#icon-map-pin')
                            span= tour.startLocation.description
                        .card__data
                            svg.card__icon
                                use(xlink:href='img/icons.svg#icon-calendar')
                            span= tour.startDates[0].toLocaleString('en-US', {month: "long", year: "numeric"})
                        .card__data
                            svg.card__icon
                                use(xlink:href='img/icons.svg#icon-flag')
                            span= `${tour.locations.length} stops`
                        .card__data
                            svg.card__icon
                                use(xlink:href='img/icons.svg#icon-user')
                            span= `${tour.maxGroupSize} people`

                    .card__footer
                        p
                            span.card__footer-value=`$${tour.price}` 
                            | 
                            span.card__footer-text per person 
                        p.card__ratings
                            span.card__footer-value= tour.ratingsAverage 
                            | 
                            span.card__footer-text= `rating (${tour.ratingsQuantity})` 
                        a(class='btn btn--green btn--small' href=`/tour/${tour.slug}`) Details

        //- Pagination section
        if pagination && pagination.totalPages > 1
            .pagination
                .pagination__info
                    p Showing #{pagination.startItem} - #{pagination.endItem} of #{pagination.totalResults} tours
                
                .pagination__controls
                    //- Previous page button
                    if pagination.currentPage > 1
                        a(href=`/?page=${pagination.currentPage - 1}` class='btn btn--white btn--small pagination__btn')
                            svg.pagination__icon
                                use(xlink:href='img/icons.svg#icon-chevron-left')
                            span Previous
                    else
                        span.pagination__btn.pagination__btn--disabled
                            svg.pagination__icon
                                use(xlink:href='img/icons.svg#icon-chevron-left')
                            span Previous
                    
                    //- Page numbers
                    .pagination__pages
                        //- Show first page if we're far from it
                        if pagination.currentPage > 3
                            a(href='/?page=1' class='pagination__page') 1
                            if pagination.currentPage > 4
                                span.pagination__dots ...
                        
                        //- Show pages around current page
                        - var startPage = Math.max(1, pagination.currentPage - 2)
                        - var endPage = Math.min(pagination.totalPages, pagination.currentPage + 2)
                        
                        - for (var i = startPage; i <= endPage; i++)
                            if i === pagination.currentPage
                                span.pagination__page.pagination__page--active= i
                            else
                                a(href=`/?page=${i}` class='pagination__page')= i
                        
                        //- Show last page if we're far from it
                        if pagination.currentPage < pagination.totalPages - 2
                            if pagination.currentPage < pagination.totalPages - 3
                                span.pagination__dots ...
                            a(href=`/?page=${pagination.totalPages}` class='pagination__page')= pagination.totalPages
                    
                    //- Next page button
                    if pagination.currentPage < pagination.totalPages
                        a(href=`/?page=${pagination.currentPage + 1}` class='btn btn--white btn--small pagination__btn')
                            span Next
                            svg.pagination__icon
                                use(xlink:href='img/icons.svg#icon-chevron-right')
                    else
                        span.pagination__btn.pagination__btn--disabled
                            span Next
                            svg.pagination__icon
                                use(xlink:href='img/icons.svg#icon-chevron-right')